http:
  routers:
    cks-root-redirect:
      rule: "Host(`{{ download_hostname }}`) && Path(`/`)"
      entryPoints: [websecure]
      service: s3-backend
      priority: 110
      middlewares: [cks-root-redirect]
      tls:
        certResolver: letsencrypt

    cks-favicon:
      rule: "Host(`{{ download_hostname }}`) && Path(`/favicon.svg`)"
      entryPoints: [websecure]
      service: s3-backend
      priority: 100
      middlewares: [cks-favicon-rewrite, cks-bucket-prefix, cks-host-header]
      tls:
        certResolver: letsencrypt

    keys-files:
      rule: "Host(`{{ download_hostname }}`) && PathPrefix(`/keys/`)"
      entryPoints: [websecure]
      service: s3-backend
      priority: 60
      middlewares: [cks-bucket-prefix, cks-host-header]
      tls:
        certResolver: letsencrypt

    cks-index:
      rule: "Host(`{{ download_hostname }}`) && (Path(`/cks`) || Path(`/cks/`))"
      entryPoints: [websecure]
      service: s3-backend
      priority: 90
      middlewares: [cks-index-rewrite, cks-bucket-prefix, cks-host-header]
      tls:
        certResolver: letsencrypt

    cks-files:
      rule: "Host(`{{ download_hostname }}`) && PathPrefix(`/cks/`)"
      entryPoints: [websecure]
      service: s3-backend
      priority: 50
      middlewares: [cks-bucket-prefix, cks-host-header]
      tls:
        certResolver: letsencrypt

  middlewares:
    cks-root-redirect:
      redirectRegex:
        regex: "^https?://[^/]+/?$"
        replacement: "https://{{ download_hostname }}/cks/"
        permanent: false

    cks-favicon-rewrite:
      replacePath:
        path: "/cks/favicon.svg"

    cks-index-rewrite:
      replacePathRegex:
        regex: "^/cks/?$"
        replacement: "/cks/index.html"

    cks-bucket-prefix:
      addPrefix:
        prefix: "/{{ cs_bucket }}"

    cks-host-header:
      headers:
        customRequestHeaders:
          Host: "{{ s3_public_hostname }}"

  services:
    s3-backend:
      loadBalancer:
        servers:
          - url: "https://{{ s3_public_hostname }}"
        serversTransport: s3-transport

  serversTransports:
    s3-transport:
      insecureSkipVerify: true
      serverName: "{{ s3_public_hostname }}"
